

table {

    width: 350px;
    border-collapse: collapse;
    text-align: center;
    background: s}

td {

    border: solid 2px black;
    padding: 10px;
    
}

tr.segunda {

    background-color: aquamarine;

}