

/*Versão MOBILE FIRSTt*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {

    background-color: black;
    background-image: url(../imagesQuery/back-phone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

main {

    text-align: center;
    color: azure;
    background-color: black;
    width: 500px;
    height: 80vh;
    margin: auto;
    margin-top: 20px;
    padding: 25px;

}

img#phone {
    display: block;
    margin: auto;
}
img#tablet {
    display: none;
}
img#print {
    display: none;
}
img#pc {
    display: none;
}
img#tv {
    display: none;
}
