

@media all {
    

* {

    margin: 0px;
    padding: 0px;
}



body {

    width: 100vw;
    height: 100vh;
    background-color: darkred;
}

}

@media screen and (orientation: portrait) {
    

    body {

        display: flex;
        flex-direction: column;
        background-image: url(../imagens/cev-portrait.jpg);
        background-position: center bottom;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    
    body > h1 {
        display: block;
        background-color: darkred;
        
    }
}

@media screen and (orientation: landscape) {

    body {
        text-align: center;
        background-image: url(../imagens/cev-landscape.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    
}